/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,s
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Perso */
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before, .clear:after {
  content:' ';display:table;

}
.clear:after {
  clear:both;
}
.clear {
  *zoom:1;
}

/* Perso */
body {
	overflow-x: hidden;
	background-color: #8dc8e8;
}
a {
	text-decoration: none;
}
::-webkit-scrollbar {width:9px;}
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: #18242f;
	box-shadow: inset 2px 2px 2px rgba(255,255,255,0.25), inset -2px -2px -2px
							rgba(0,0,0,0.25);
}

/* HEADER */

.wrap-header {
  max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
header {
	background-color: #575fcf;
}
.logo-header {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.nav {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
ul.navbar {
	width: 490px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;;
	letter-spacing: 0.1em;
	position: relative;
}
ul.navbar li a {
	color: #fff;
	font-family:  'Bebas Neue', cursive;
}
ul.navbar li a::after {
	content: "";
	display: block;
	position: relative;
	width: 100%;
	height: 3px;
	background: #1dd1a1;
	transform: scale(0);
	transition: transform 0.3s ease-in-out;
}
ul.navbar li:hover a::after {
	transform: scale(1);
}
/* SECTION 1 */

.wrap-section {
	max-width: 1440px;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.bigbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: url(../img/fond.jpg) no-repeat center fixed;
	padding: 30px;
	margin-top: 80px;
}
.stats {
	width: 60%;
	height: auto;
	background-color: #575fcf;
	font-family:  'Didact Gothic', cursive;
	padding: 30px;
	border-radius: 10px;
 	box-shadow: 20px 20px rgba(0,0,0,.15);
 	transition: all .4s ease;
}
.stats:hover{
	border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
.stats h1 {
	font-size: 2em;
	color: #fff;
	margin-bottom: 30px;
	font-family: 'Bebas Neue', cursive;
}
.stats p {
	font-size: 1.3em;
	color: #fff;
	margin-bottom: 40px;
	opacity: 0.9;
	line-height: 1.3;
}
.stats strong {
	color: #18242f;
	font-weight: 900;
	text-transform: uppercase;
	opacity: 1;
}
.bigbox2 {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	background: url(../img/fond.jpg) no-repeat center fixed;
	padding: 30px;
}
.stats2 {
	width: 60%;
	height: auto;
	background-color: #575fcf;
	font-family:  'Didact Gothic', cursive;
	padding: 30px;
	border-radius: 10px;
 	box-shadow: 20px 20px rgba(0,0,0,.15);
 	transition: all .4s ease;
}
.stats2:hover{
	border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
.stats2 h1 {
	font-size: 2em;
	color: #fff;
	margin-bottom: 30px;
	font-family: 'Bebas Neue', cursive;
}
.stats2 p {
	font-size: 1.3em;
	color: #fff;
	margin-bottom: 40px;
	opacity: 0.9;
	line-height: 1.3
}
.bigbox3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: url(../img/fond.jpg) no-repeat center fixed;
	padding: 30px;
}
.stats3 {
	width: 60%;
	height: auto;
	background-color: #575fcf;
	font-family:  'Didact Gothic', cursive;
	padding: 30px;
	border-radius: 10px;
 	box-shadow: 20px 20px rgba(0,0,0,.15);
 	transition: all .4s ease;
}
.stats3:hover{
	border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
.stats3 h1 {
	font-size: 2em;
	color: #fff;
	margin-bottom: 30px;
	font-family: 'Bebas Neue', cursive;
}
.stats3 p {
	font-size: 1.3em;
	color: #fff;
	margin-bottom: 40px;
	opacity: 0.9;
	line-height: 1.3
}
.button {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding: 0 0 80px 0;
}

a.btn_inscription {
	font-family:  'Bebas Neue', cursive;
	font-size: 1.8em;
	margin-top: 50px;
	background-color: #575fcf;
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
}
a:hover.btn_inscription {
	color: #fff;
	background: #575fcf;
	transition-delay: 1s;
}
a.btn_inscription span {
	position: absolute;
	display: block;
}
a.btn_inscription span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#fff);
}
a:hover.btn_inscription span:nth-child(1) {
	left: 100%;
	transition: 1s;
}
a.btn_inscription span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#fff);
}
a:hover.btn_inscription span:nth-child(3) {
	right: 100%;
	transition: 1s;
}
a.btn_inscription span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#fff);
}
a:hover.btn_inscription span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
a.btn_inscription span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#fff);
}
a:hover.btn_inscription span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}
a.btn_connexion {
	font-family:  'Bebas Neue', cursive;
	font-size: 1.8em;
	margin-top: 50px;
	background-color: #575fcf;
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
}
a:hover.btn_connexion {
	color: #fff;
	background: #575fcf;
	transition-delay: 1s;
}
a.btn_connexion span {
	position: absolute;
	display: block;
}
a.btn_connexion span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#fff);
}
a:hover.btn_connexion span:nth-child(1) {
	left: 100%;
	transition: 1s;
}
a.btn_connexion span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#fff);
}
a:hover.btn_connexion span:nth-child(3) {
	right: 100%;
	transition: 1s;
}
a.btn_connexion span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#fff);
}
a:hover.btn_connexion span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
a.btn_connexion span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#fff);
}
a:hover.btn_connexion span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

/* ADD VACCIN */

#addvaccin {
 width: 100%;
 margin: 0 auto;
 height: auto;
 padding: 25px;
}

#vaccin {
	background-color: #575fcf;
  color: #fff;
  border: none;
	font-family:  'Bebas Neue', cursive;
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
	width: 95%;
	height: 70px;
}
#vaccins {
 	max-width: 1440px;
 	width: 100%;
	height: 200px;
 	margin: 0 auto;
}
#vaccins .rappel {
	width: 60%;
	height: auto;
	margin: 0 auto;
	background-color: #575fcf;
	font-family:  'Didact Gothic', cursive;
	padding: 30px;
	border-radius: 10px;
}
.rappel h1 {
	text-align: center;
	font-family:  'Didact Gothic', cursive;
	color: #18242f;
	text-transform: uppercase;
	font-weight: bold;
}























/* ABOUT */

.wrap-about {
	max-width: 1440px;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.wrap-about .bigbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: url(../img/carnet.jpg) no-repeat center fixed;
	padding: 30px;
	margin-top: 80px;
}
.wrap-about .bigbox2 {
	background: url(../img/carnet.jpg) no-repeat center fixed;
}
.wrap-about .bigbox-start {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background: url(../img/apropos.jpg) no-repeat center fixed;
	padding: 30px;
	margin-top: 70px;
}
.wrap-about .bigbox3 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background: url(../img/apropos.jpg) no-repeat center fixed;
	padding: 30px;
}
.wrap-about .bigbox4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: url(../img/apropos.jpg) no-repeat center fixed;
	padding: 30px;
}
.wrap-about .bigbox-end {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	background: url(../img/apropos.jpg) no-repeat center fixed;
	padding: 30px;
	margin-bottom: 50px;
}
.age {
	font-family: 'Josefin Sans';
	font-weight: bold;
	font-size: 0.5em;
}
.role {
	font-family: 'Josefin Sans';
	font-size: 0.5em;
}
.wrap-about .stats a  {color: #18242f;}
.wrap-about .stats-about {
	width: 60%;
	height: auto;
	background-color: #575fcf;
	font-family:  'Didact Gothic', cursive;
	padding: 30px;
	border-radius: 10px;
}
.wrap-about .stats-about h1 {
	font-size: 2em;
	color: #fff;
	margin-bottom: 5px;
	font-family: 'Bebas Neue', cursive;
}
.wrap-about .stats-about p {
	font-size: 1.3em;
	color: #fff;
	margin-bottom: 40px;
	opacity: 0.9;
	line-height: 1.3;
}
/* INSCRIPTION */

#inscription {
 width: 100%;
 margin: 0 auto;
 height: 700px;
 padding: 25px;
 background: url(../img/inscription.jpg) no-repeat center fixed;
}
.wrap-section-inscription-1 {
	display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.form-inscription {
	position: absolute;
  width: 700px;
  padding: 40px;
  background: rgba(0,0,0,.8);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.form-inscription h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
	border: none;
	font-size: 2.5vw;
 	font-family:  'Bebas Neue', cursive;
}
form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.w50 {
	width: 50%;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	position: relative;
}
#civilite {
	background-color: #575fcf;
  color: #fff;
  border: none;
	font-family:  'Bebas Neue', cursive;
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
	width: 95%;
	height: 70px;
}
input::placeholder {
  color: #fff;
	font-family:  'Bebas Neue', cursive;
}
input[type=text] {
  background-color: #575fcf;
  color: #fff;
  border: none;
	font-family: 'Didact Gothic', sans-serif;
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
	width: 95%;
	height: 70px;
}
input[type=email] {
  background-color: #575fcf;
  color: #fff;
  border: none;
	font-family: 'Didact Gothic', sans-serif;
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
	width: 95%;
	height: 70px;
}
input[type=date] {
  background-color: #575fcf;
  color: #fff;
  border: none;
	font-family:  'Bebas Neue', cursive;
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
	width: 95%;
	height: 70px;
}
input[type=time] {
  background-color: #575fcf;
  color: #fff;
  border: none;
	font-family:  'Bebas Neue', cursive;
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
	width: 95%;
	height: 70px;
}
input[type=password]{
	background-color: #575fcf;
  color: #fff;
  border: none;
	font-family:  'Bebas Neue', cursive;
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
	width: 95%;
	height: 70px;
}
input[type=submit] {
  background-color: #fff;
  color: #575fcf;
  border: solid 1px #fff;
	font-family:  'Bebas Neue', cursive;
  font-size: 1.2em;
	text-transform: uppercase;
  padding-left: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
	width: 95%;
	height: 70px;
	cursor: pointer;
}
input[type=submit]:hover {
  background-color: #575fcf;
  color: #fff;
}
.error {font-size: .8em;color:red;}
 /* LOGIN */
 #login {
	width: 100%;
	margin: 0 auto;
	height: 600px;
	padding: 25px;
	background: url(../img/login.jpg) no-repeat center fixed;
 }
 .wrap-section-connexion-1 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	max-width: 1440px;
 	width: 100%;
 	height: 550px;
 	margin: 0 auto;
 }
 .form-login {
	position: absolute;
	width: 450px;
 	padding: 40px;
  	background: rgba(0,0,0,.8);
  	box-sizing: border-box;
  	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
 }
 .form-login a:hover {
	color: #575fcf;
 }
 .form-login h2 {
 	margin: 0 0 30px;
 	padding: 0;
 	color: #fff;
 	text-align: center;
 	border: none;
 	font-size: 2.5em;
	font-family:  'Bebas Neue', cursive;
 }
 .form-login .w50 {
	position: relative;
	width: 100%;
 }
 .form-login .w50 input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
 	background: transparent;
 }
 .form-login .w50 label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	font-family:  'Bebas Neue', cursive;
	color: #fff;
	pointer-events: none;
	transition: .5s;
 }
.form-login .w50 input:focus ~ label,
.form-login .w50 input:valid ~ label
{
	top: -22px;
	left: 0;
	color: #575fcf;
	font-size: 12px;
}
 .form-login a {
	padding: 10px;
	margin-bottom: 20px;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-weight: bold;
 }
.form-login .w50 input[type=submit] {
	background-color: #fff;
	color: #575fcf;
	border: solid 1px #fff;
	font-family:  'Bebas Neue', cursive;
	font-size: 1.4em;
	text-transform: uppercase;
	padding-left: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	width: 50%;
	height: 60px;
	cursor: pointer;
}
.form-login .w50 input[type=submit]:hover {
	background-color: #575fcf;
	color: #fff;
}
/* RESET PASSWORD */
#resetPassword {
 width: 100%;
 margin: 0 auto;
 height: 600px;
 padding: 25px;
 background: url(../img/resetPassword.jpg) no-repeat center fixed;
}
.resetMail {
	width: 50%;
	margin: 30px auto;
	height: auto;
	background-color: #fff;
	font-family:  'Didact Gothic', cursive;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.resetMail h1 {
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.3;
	font-size: 20px;
}
.resetMail h2 {
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.3;
	font-size: 18px;
}
.resetMail p {
	color: #18242f;
	margin-top: 10px;
	font-size: 16px;
}
.resetMail a {
	color: #575fcf;
	font-weight: bold;
}


/* CONTACT */
#contact {
  width: 100%;
	margin: 0 auto;
  height: 750px;
	padding: 25px;
	background: url(../img/contact.jpg) no-repeat center fixed;
}
.wrap-section-contact-1 {
 max-width: 1440px;
 width: 100%;
 margin: 0 auto;
 display: flex;
 justify-content: center;
}
.form-contact {
 position: absolute;
 width: 100%;
 width: 600px;
 padding: 20px;
 background: rgba(0,0,0,.8);
 box-sizing: border-box;
 border-radius: 10px;
 	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	margin-top: 20px;
}
.form-contact h2 {
 margin: 0 0 30px;
 padding: 0;
 color: #fff;
 text-align: center;
 border: none;
 font-size: 2.5em;
 font-family:  'Bebas Neue', cursive;
}
.form-contact .w50 {
 position: relative;
 width: 100%;
}
.form-contact .w50 input {
 width: 80%;
 padding: 10px 0;
 font-size: 16px;
 color: #fff;
 letter-spacing: 1px;
 margin-bottom: 30px;
 border: none;
 border-bottom: 1px solid #fff;
 outline: none;
 background: transparent;
}
.form-contact .w50 label {
 position: absolute;
 top: 0;
 left: 0;
 padding: 10px 0;
 font-size: 16px;
 font-family:  'Bebas Neue', cursive;
 color: #fff;
 pointer-events: none;
 transition: .5s;
}
.form-contact .w50 input:focus ~ label,
.form-contact .w50 input:valid ~ label
{
 top: -22px;
 left: 0;
 color: #575fcf;
 font-size: 12px;
}
.form-contact .w50 textarea {
	resize: none;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.1em;
	margin-top: 30px;
}
.form-contact .w50 input[type=submit] {
 background-color: #fff;
 color: #575fcf;
 border: solid 1px #fff;
 font-family:  'Bebas Neue', cursive;
 font-size: 1.5em;
 text-transform: uppercase;
 padding-left: 15px;
 margin-top: 20px;
 border-radius: 4px;
 width: 40%;
 height: 50px;
 cursor: pointer;
}
.form-contact .w50 input[type=submit]:hover {
 background-color: #575fcf;
 color: #fff;
}
/* MENTION */
#mention {
  width: 100%;
	margin: 0 auto;
  height: 1110px;
	padding: 25px;
}
.wrap-section-mention {
 max-width: 1440px;
 width: 100%;
 margin: 0 auto;
 display: flex;
 justify-content: center;
}
.mentions-legales {
	position: absolute;
  width: 1000px;
  box-sizing: border-box;
  border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
 	margin-top: 20px;
  padding: 40px;
  background: rgba(0,0,0,.8);
  box-sizing: border-box;
  text-align: center;
}
.mentions-legales h2 {
	margin: 20px 0 30px;
	padding: 0;
	color: #575fcf;
	text-align: center;
	border: none;
	font-size: 2.5em;
 	font-family:  'Bebas Neue', cursive;
}
.mentions-legales h2:hover {
	color: #8dc8e8;
	transition: 0.3s;
}
.mentions-legales p {
	font-size: 1.5em;
	font-family:  'Didact Gothic', cursive;
	color: #18242f;
	color: #fff;
}
/* .fond-mention {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
} */
/* FOOTER */

.wrap-footer {
  max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
footer {
	background-color: #575fcf;
}
.columns {
	display: flex;
	align-items: center;
	height: 150px;
}
.column1 {
	width: 42.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}
.column1 img {
	width: 20%;
}
.column-title {
	margin-bottom: 10px;
}

.column2 {
	width: 15%;
	display: flex;
 	justify-content: space-between;
	padding: 30px;
}
.fab {
	color: #fff;
	font-size: 70px;
}
.fab:hover {
	color: #0fbcf9;
}
.column3 {
	width: 42.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:  'Bebas Neue', cursive;
	font-size: 1.5em;
	padding: 20px;
	color: #fff;
}
.column3 a {
	color: #fff;
}
.column3 a:hover {
	color: #1dd1a1;
	transition: 0.3s;
}
.creator {
	display: flex;
	align-items: center;
}
.creator li a{
	margin-left: 5px;
}
.creator {
  display: flex;
}
.bottom-bar {
	padding: 15px;
  background-color: #18242f;
  color: #fff;
  display: flex;
	justify-content: center;
	font-family:  'Bebas Neue', cursive;
	font-size: 1em;
}
.mention a{
	color: #fff;
}
.mention a:hover {
	color: #1dd1a1;
	transition: 0.3s;
}

/* big box et mini box affichage flex vaccin front*/
#section-addvaccin {

}
.form-addvaccin {
	margin: 0 auto;
	width: 450px;
 	padding: 40px;
  	background: rgba(0,0,0,.8);
  	box-sizing: border-box;
  	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
 }
 .form-addvaccin h2 {
 	margin: 0 0 30px;
 	padding: 0;
 	color: #fff;
 	text-align: center;
 	border: none;
 	font-size: 2.5em;
	font-family:  'Bebas Neue', cursive;
 }
 .form-addvaccin .w50 {
	position: relative;
	width: 100%;
 }
 .form-addvaccin .w50 input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
 	background: transparent;
 }
 .form-addvaccin .w50 label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	font-family:  'Bebas Neue', cursive;
	color: #fff;
	pointer-events: none;
	transition: .5s;
 }
.form-addvaccin .w50 input:focus ~ label,
.form-addvaccin .w50 input:valid ~ label
{
	top: -22px;
	left: 0;
	color: #575fcf;
	font-size: 12px;
}
 .form-addvaccin a {
	padding: 10px;
	margin-bottom: 20px;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-weight: bold;
 }
.form-addvaccin .w50 input[type=submit] {
	background-color: #fff;
	color: #575fcf;
	border: solid 1px #fff;
	font-family:  'Bebas Neue', cursive;
	font-size: 1.4em;
	text-transform: uppercase;
	padding-left: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	width: 50%;
	height: 60px;
	cursor: pointer;
}
.form-addvaccin .w50 input[type=submit]:hover {
	background-color: #575fcf;
	color: #fff;
}

.BB1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  	background: rgba(0,0,0,.8);
  	box-sizing: border-box;
  	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.BB2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  	background: rgba(0,0,0,.8);
  	box-sizing: border-box;
  	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

.MB {
	width: 25%;
	margin: 30px auto;
	color: white;
	text-align: center;
	padding: 40px 0;
}
.BB_carnet {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
<<<<<<< HEAD
  	background: rgba(0,0,0,.8);
  	box-sizing: border-box;
  	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.MB_carnet {
	width: 25%;
	margin: 30px auto;
	color: white;
	text-align: center;
	padding: 40px 0;
=======

>>>>>>> 89540d3b994895e290f0d02ef3401c699b5623cc
}
/* FIN big box et mini box affichage flex vaccin front*/

/* Boutton ON/OFF mode jour/nuit   */
 /* The switch - the box around the slider */
 .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

  input:checked + .slider {
	background-color: #2196F3;
  }

  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }

  .slider.round:before {
	border-radius: 50%;
  }
