/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,s
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Perso */
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before, .clear:after {
  content:' ';display:table;

}
.clear:after {
  clear:both;
}
.clear {
  *zoom:1;
}

/* Perso */

.wrap {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.wrap-footer {
  max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    background-color: #4bcffa;
} 

footer {
	background-color: #333;
	color: #fff;

}
.logo {
    background: url('../img/logo.jpg');
}
.social {
    display: flex;
    width: 19%;
    background-color: #333;
}
.social a {
    width:123px;
    height: 123px;
    background: url('../img/social-icons.png');
    border-radius: 100%;
}
.social li {
    display: flex;
	margin-right: 3px;
	}
.social a.facebook {
	background-position: -496px -940px;
}
.social a.instagram {
	background-position: -43px -1091px;
}
.social a.twitter {
	background-position: -345px -1242px;
}
.social a.facebook:hover {
	background-position: -496px -36px;
}
.social a.instagram:hover {
	background-position: -43px -186px;
}
.social a.twitter:hover {
	background-position: -345px -337px;
}
